@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">dentist clinic</h1>
    <p>Take an <a asp-controller="Appointment" asp-action="create" >appointment</a></p>
</div>
